@font-face {
    font-family: Shady-Lane;
    src: url(Shady-Lane.ttf);
}

input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

html {
    background-color: indigo;
}
#matrix.active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-left: 1px solid black;
    border-top: 1px solid black;
}

#matrix.active .cell {
    display: inline-block;
    float: left;
    background-color: silver;

    width: 19px;
    height: 19px;

    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.snake-wrapper {
    position: relative;
    margin: auto;
}

.snake-wrapper .snake-image{
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.greetings {
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 600px;
    height: 500px;
    background-color: indigo;
}

.game-name {
    color: #2eb82e;
    font-size: 55px;
    font-family: Shady-Lane;
    letter-spacing: 14px;
    margin: 0 0 40px 0;
}

.greetings .game-block {
    color: #c1bfea;
    font-size: 25px;
    padding-bottom: 20px;
    font-family: Shady-Lane;
}

.title-text {
    display: block;
    font-size: 30px;
    color: #f02f17;
    margin-bottom: 15px;
}

button {
    cursor: pointer;
    border: none;
    width: 150px;
    height: auto;
    font-size: 50px;
    background-color: transparent;
    color: #2eb82e;
    font-family: Shady-Lane;

    transition: all 1s;
}

.start:hover {
    color: deepskyblue;
}

.author {
    color: #4dffff;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid transparent;
    transition: all .5s;
}

.author:hover {
    color: #ffff66;
    border-color: #ffff66;
}

.greetings label {
    transition: all .5s;
    cursor: pointer;
}

.greetings label.active {
    color: gold;
}

.cell.headUp {
    background-color: azure;
}
